.card {
  display: flex;
  border: 1px solid #cccccc58;
  border-radius: 10px;
  /* padding: 5px; */
  margin: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.098);
  overflow: hidden;
  background-color: white;
  min-width: 350px;
  max-width: 380px;
  /* width: 350px; */
  height: 140px;
}

.card-list {
  background-color: #f5f5f5;
  padding-bottom: 6vh;
}

.card-title {
  font-size: 1.4rem;
  margin-bottom: 12px;
  margin-left: 0.2rem;
}

.card-sub-title {
  margin-right: 1rem;
  font-size: 0.9rem;
  color: grey;
}

.card-content {
  font-size: 1rem;
  color: gray;
  /* margin-left: 16px; */
}

.card-content2,
.card-price,
.card-count {
  font-size: 1rem;
  color: gray;
  /* margin-right: 2rem; */
}

.card-price {
  margin-left: 2rem;
}

.card-count {
  /* font-size: 1rem;
  color: gray; */
  /* margin-right: 2rem; */
}

.card-contet3 {
  font-size: 1rem;
  color: gray;
  /* margin-right: 2rem; */
}
.card-image {
  border-radius: 16px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-image-container {
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin: 5px;
}

.card-link {
  text-decoration: none;
  color: #333;
}
