.card {
  display: flex;

  flex-direction: row;
  align-items: flex-start; /* 전체 카드 내용물 왼쪽 정렬 */

  border: 1px solid #cccccc58;
  border-radius: 5px;
  /* padding: 5px; */
  margin: 5px;
  /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.098); */
  overflow: hidden;
  background-color: white;
  min-width: 350px;
  max-width: 380px;
  /* width: 350px; */
  height: 125px;
}

.card-list {
  background-color: #f5f5f5;
  padding-bottom: 6vh;
}

.card-content-container {
  margin-left: 0.7rem;
}

.card-title {
  font-size: 0.99rem;
  text-align: left; /* 텍스트 왼쪽 정렬 */
  font-weight: bold;
}

.card-sub-title {
  font-size: 0.77rem;
  color: grey;
  text-align: left; /* 텍스트 왼쪽 정렬 */
}

.card-content,
.card-content2,
.card-contet3,
.card-count {
  font-size: 0.88rem;
  color: gray;
  text-align: left; /* 텍스트 왼쪽 정렬 */
  font-weight: bold;
}

.card-price{
  font-size: 0.88rem;
  /* color: black; */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  font-weight: bold;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-image-container {
  width: 125px;
  height: 125px;
  overflow: hidden;
}

.card-link {
  text-decoration: none;
  color: #333;
}
