.card {
  display: flex;
  border: 1px solid #cccccc58;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.098);
  overflow: hidden;
  background-color: white;
  min-width: 360px; 
}

.card-list {
  background-color: #f5f5f5;
  padding-bottom: 6vh;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 12px;
  margin-left: 16px;
}

.card-sub-title {
  /* margin-left: 16px; */
  font-size: 0.9rem;
  color: gray;
}

.card-content {
  font-size: 1rem;
  color: gray;
  /* margin-left: 16px; */
}

.card-content2,
.card-price,
.card-count {
  font-size: 1rem;
  color: gray;
  /* margin-right: 2rem; */
}

.card-count {
  /* font-size: 1rem;
  color: gray; */
  margin-right: 2rem;
}

.card-image {
  border-radius: 16px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-image-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.card-link {
  text-decoration: none;
  color: #333;
}
