/* Card.css */

.homeRoot, .shoppingRoot {
    font-size: 16px;
    color: #333;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.productTitle {
    font-size: 20px;
    color: #999;
    margin-top: 10px;
}

.orderContainer {
    flex-wrap: wrap;
    justify-content: space-between;
}

.OrderInformation, .OrderProducts {
    flex-basis: 48%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
