.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 100; /* 다른 요소 위에 나타나도록 높은 z-index 값을 설정 */
}

.link {
  text-decoration: none;
  color: white;
  text-align: center;
}

.title {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.cart {
  align-items: center;
  color: black;
}

.cart-icon {
  font-size: 20px;
  margin-right: 5px;
  color: rgba(128, 128, 128, 0.623);
}

.active-cart-icon {
  color: black;
}

.back-icon {
  font-size: 20px;
  margin-right: 5px;
  color: rgba(128, 128, 128, 0.623);
}

.back-icon:active {
  color: black;
  transform: scale(1.1);
}
