.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.slider-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-image {
  height: 100%;
  width: 400px;
  object-fit: cover;
}

.slider-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.slider-button {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: darkgray;
  font-size: 20px;
}

.prev {
  left: 10px;
  transform: translateY(-50%);
}

.prev:active {
  color: black;
}

.next {
  right: 10px;
  transform: translateY(-50%);
}

.next:active {
  color: black;
}

.slider-image-index {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.slider-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: gray;
}

.slider-circle.active {
  background-color: whitesmoke;
}
