/* seller-header */
.seller-header {
  position: sticky;
  height: 8vh;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 70px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 100; /* 다른 요소 위에 나타나도록 높은 z-index 값을 설정 */
}

.seller-header .title {
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.seller-header .seller-header-container {
  display: flex;
}

.seller-header .seller-title-link {
  text-decoration: none;
  color: white;
  text-align: center;
}

.seller-header .seller-header-container .seller-header-link {
  display: block;
  color: black;
  font-weight: bold;
  margin-right: 50px;
  text-decoration: none;
}

/* 마지막 seller-header에는 마진을 추가하지 않습니다. */
.seller-header .seller-header-container .seller-header-link:last-child {
  margin-right: 0;
}

.seller-header .seller-header-menu {
  font-size: 18px;
}
/* seller-header */

.seller-home .ad-image-container {
  width: 100%;
  height: 92vh;
}

.seller-home .ad-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seller .header .title {
  align-items: left;
}

.seller-home .event-button {
  background-color: rgb(233, 116, 116);
  transform: translateX(-250%);
  bottom: 250px;
}

.seller-home .button:active {
  transform: translateX(-250%) scale(0.9);
  background-color: rgb(236, 83, 83);
}

/* seller side nav */
.store-side-nav-container {
  height: 92vh;
  background-color: #333;
  width: 150px;
}

.store-side-nav-menu {
}

.active-store-side-nav-menu {
  color: tomato;
}

.seller-side-nav-link {
  display: block;
  color: white;
  font-weight: bold;
  margin: 20px;
  text-decoration: none;
  font-size: 10px;
}
/* seller side nav */

/* seller store management, seller store register */
.seller-store-management .store-management-container,
.seller-store-register .store-register-container,
.seller-store-sales .store-sales-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: auto;
  width: 100%;
}

.store-management-edit-container,
.store-register-edit-container,
.store-sales-info-container {
  height: 92vh;
  background-color: #ffffff;
  width: 22rem;
}

.store-sales-info-container {
  width: 580px;
  overflow-y: auto;
}

.store-management-map-container,
.store-register-map-container,
.store-sales-map-container {
  height: 92vh;
  background-color: #666666;
  width: calc(100% - 450px);
}

.store-sales-map-container {
  width: calc(100% - 730px);
}

.seller-store-management .store-edit-info-container,
.seller-store-register .store-register-info-container {
  width: 100%;
  height: 92vh;
  /* margin: 20px; */
  /* padding: 20px; */
  background-color: #ffffff;
  /* border-radius: 20px; */
  /* box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2); */
  text-align: center;
  font-size: 0.8em; /* 텍스트 크기를 약간 증가시킵니다 */
  font-weight: bold;
  color: #333;
}

.seller-store-management .store-edit-image,
.seller-store-register .store-register-image {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seller-store-management .store-edit-image img,
.seller-store-register .store-register-image img {
  margin: 10px;
  width: 280px;
  height: 250px;
}

.seller-store-management .store-edit-info-container input,
.seller-store-register .store-register-info-container input {
  display: block;
  width: 90%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 3px;
  margin: 10px;
  background-color: #dcdcdc;
}

.seller-store-management .store-edit-info-container textarea,
.seller-store-register .store-register-info-container textarea {
  display: block;
  width: 90%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 10px;
  background-color: #dcdcdc;
  font-weight: bold;
}

.seller-store-management .store-save-button,
.seller-store-management .store-delete-button,
.seller-store-register .store-register-button,
.connect-store-register-button {
  background-color: rgb(233, 116, 116);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.9rem;
  font-size: 0.9rem;
  color: #fff;
  margin: auto;
}

.connect-store-register-button {
  position: fixed;
  bottom: 250px;
  left: 440px;
  font-size: 18px;
}

.seller-store-management .store-delete-button {
  /* font-size: 13px;
  border-radius: 5px;
  border: none; */
  /* display: none; */
  /* position: absolute; */
  /* top: 338px; */
  /* left: 365px; */
  /* background-color: rgb(252, 125, 125);
  color: #242424;
  font-weight: bold; */
  background-color: red;
}

.seller-store-management .store-save-button:active,
.seller-store-register .store-register-button:active,
.seller-store-management .store-delete-button:active,
.connect-store-register-button:active {
  background-color: rgb(236, 83, 83);
  transform: scale(0.9);
}

/* seller store management, seller store register */

/* seller item, seller item management */
.seller-item .item-edit-image {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seller-item .item-edit-image img {
  margin-bottom: 10px;
  width: 190px;
  height: 190px;
}

.seller-item .item-edit-icon {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  /* position: relative; */
  /* top: 140px;
  right: 30px; */
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #ff7070;
  color: #333;
}

.seller-item .item-edit-info-container {
  width: 80%;
  margin: 15px;
  padding: 10px;
  background-color: #e8e8e8;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 0.8em; /* 텍스트 크기를 약간 증가시킵니다 */
  font-weight: bold;
  color: #333;
}

.seller-item .item-edit-info-container input {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 5px;
  margin-right: 10px;
  background-color: #f2f2f2;
}

.seller-item-management .item-save-button {
  background-color: rgb(233, 116, 116);
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 12px;
  color: #fff;
}

.seller-item-management .item-save-button:active {
  background-color: rgb(236, 83, 83);
  transform: scale(0.9);
}

.seller-item-management .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.seller-item-management .App-link {
  color: #61dafb;
}
.seller-item-management {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.grid-wrapper {
  /* flex: 1 1 0px; */
  /* height:500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.ag-theme-alpine {
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
}

#myGrid {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.ag-header-cell-label {
  align-items: center;
  justify-content: center;
}
/* seller item, seller item management */

/* SellerChattingManagement.css */
.seller-chatting-management-container {
  display: flex; /* 가로로 정렬을 위해 Flexbox 사용 */
  flex-direction: row; /* 가로로 정렬 */
  flex: 1; /* 남는 공간을 채우도록 확장 */
  margin: auto;
  width: 90%;
}

.seller-chatting-management .chatting-list-container {
  flex: 1; /* 남는 공간을 채우도록 확장 */
  width: 800px;
}

.seller-chatting-management .seller-chat-container {
  width: 900px; /* 채팅 컨테이너를 가로로 50% 차지하도록 설정 */
}

.seller-chatting-management .chatting-lists {
  width: 80%; /* 채팅 목록 컨테이너를 가로로 50% 차지하도록 설정 */
}
.seller-product-registration .outer-div {
  max-width: 700px;
  margin: 2rem auto;
}

.seller-product-registration .inner-div {
  /* text-align: center; */
  margin-bottom: 2rem;
}

.seller-product-registration .abc {
  background-color: white;
  padding: 5px 20px;
  margin: 2em auto;
  border-radius: 10px;
  box-shadow: 1px 1px 1px gray;
}

.seller-product-registration .category {
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px gray;
}

.seller-product-registration .productInfo {
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px gray;
}

.HashWrap {
  margin-top: 24px;
  color: rgb(52, 58, 64);
  font-size: 1.125rem;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: -0.6px;
  color: #444241;
  border-bottom: 1.6px solid #cccccc;
  padding: 2px 2px 8px 2px;
}

.HashWrapOuter {
  display: flex;
  flex-wrap: wrap;
}

.HashWrapInner {
  margin-top: 5px;
  background: #ffeee7;
  border-radius: 56px;
  padding: 8px 12px;
  color: #ff6e35;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.HashInput {
  width: auto;
  margin: 10px;
  display: inline-flex;
  outline: none;
  cursor: text;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  min-width: 8rem;
  border: none;
}

.seller-product-registration .price {
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px gray;
}

.seller-product-registration .option {
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px gray;
}
#option-table {
  border: 0.1px solid #e2e2e2;
  border-radius: 10px;
}

.seller-product-registration .option-small-box {
  border: 0.1px solid #e2e2e2;
  padding: 10px;

  border-radius: 10px;
}

.seller-product-registration .option-small-box {
  background-color: #f6eded;

}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-outline {
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn-indigo {
  background-color: aliceblue;
  color: #1e6b7b;
}

.w-btn-indigo-outline {
  border: 3px solid aliceblue;
  color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
  color: #1e6b7b;
  background: aliceblue;
}


/* seller product registration */
