body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(205, 205, 205, 0.511);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  */
.home,
.barcode,
.map,
.search,
.user,
.user-edit,
.chatting-list,
.chatting,
.cart-page,
.store {
  max-width: 390px;
  /* top: 6vh; */
  height: 88vh; /* 높이를 100%로 설정 */
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
}

.store {
  height: 100vh;
}

.item {
  max-width: 390px;
  /* top: 6vh; */
  min-height: 120vh; /* 뷰포트 높이를 최소 높이로 설정 */
  height: 100%; /* 높이를 100%로 설정 */
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
}

.home,
.user,
.user-edit,
.item,
.store,
.cart-page,
.barcode,
.chatting,
.chatting-list,
.search {
  height: 100vh;
}

.item-image {
  /* margin-top: 20px; *
  /* border-radius: 20px; */
  height: 100%;
  width: 390px;
  object-fit: cover;
}

.item-image-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.map-store-data,
.barcode-item-data {
  position: fixed;
  bottom: 50px;
  max-width: 390px;
  /* overflow: hidden;
  text-align: center; */
}

.ad-image {
  width: 390px;
  height: 100%;
  object-fit: cover;
}

.ad-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-size: cover;
}

/*UserEdit page*/
.userEdit-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userEdit-image img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.edit-icon {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  top: 55px;
  right: 30px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e8e8e8;
  color: #333;
}

.userEdit-info-container {
  margin: 30px;
  padding: 20px;
  background-color: #e8e8e8;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  font-size: 0.8em; /* 텍스트 크기를 약간 증가시킵니다 */
  font-weight: bold;
  color: #333;
}

.userEdit-info-container input {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 5px;
  margin-right: 10px;
  background-color: #f2f2f2;
}

/* login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(83, 27, 27),
    #01172f
  ); /* 배경 그라데이션 추가 */
  color: white; /* 텍스트 색상을 흰색으로 변경 */
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 수정 */
  padding: 20px;
  border-radius: 20px;
  background-color: #fff; /* 백그라운드 색상을 흰색으로 변경 */
}

.login-form label {
  margin-bottom: 10px;
  color: #3a1919; /* 레이블 텍스트 색상을 레드블랙으로 변경 */
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* 보통 테두리로 돌아갑니다. */
  border-radius: 10px; /* 입력 필드 테두리를 둥글게 만듭니다. */
  background-color: #f5f5f5; /* 배경색을 자연스럽게 회색 톤으로 변경합니다. */
  color: #3a1919; /* 텍스트 색상을 어두운 레드로 유지합니다. */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 약간의 그림자를 추가하여 입체감을 줍니다. */
  transition: background-color 0.2s, border 0.2s; /* 부드러운 전환 효과를 적용합니다. */
}

.login-form input:focus {
  background-color: white; /* 포커스 시 입력 필드 배경을 하얀색으로 변경하여 자연스러운 강조를 줍니다. */
  border: 1px solid red; /* 포커스 시 테두리 색상 변경 */
}

.login-form button {
  font-size: 1rem;
  padding: 10px;
  background-color: rgb(255, 100, 100);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px; /* 버튼을 둥글게 만듭니다. */
  font-weight: bold; /* 텍스트를 굵게 만듭니다. */
}

.login-form button:active {
  background-color: rgb(188, 46, 46);
  transform: scale(0.9);
}

.signup-link {
  margin-top: 10px;
  text-align: center;
}

.signup-link a {
  color: rgb(255, 100, 100);
  text-decoration: none;
  font-weight: bold; /* 링크 텍스트를 굵게 만듭니다. */
}

.signup-link a:active {
  color: darkred;
}

/* Signup.css */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
  background: linear-gradient(
    to bottom,
    rgb(83, 27, 27),
    #01172f
  ); /* 배경 그라데이션 추가 */
  color: white; /* 텍스트 색상을 흰색으로 변경 */
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 수정 */
  padding: 20px;
  border-radius: 20px;
  background-color: #fff; /* 백그라운드 색상을 흰색으로 변경 */
}

.signup-form label {
  color: #3a1919; /* 레이블 텍스트 색상을 레드블랙으로 변경 */
}

.signup-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc; /* 입력 필드 테두리 두꺼운 테두리로 변경 */
  border-radius: 10px; /* 입력 필드 테두리를 둥글게 만듭니다. */
  background-color: #f5f5f5; /* 배경색을 자연스럽게 회색 톤으로 변경합니다. */
  color: #3a1919; /* 텍스트 색상을 어두운 레드로 변경하여 눈에 띄게 만듭니다. */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 약간의 그림자 추가하여 입체감을 줍니다. */
  transition: background-color 0.2s, border 0.2s; /* 부드러운 전환 효과를 적용합니다. */
}

.signup-form .role-selection input:checked + label {
  font-weight: bold; /* 선택된 라디오 버튼의 레이블을 굵게 만듭니다. */
  color: #2d3ec1;
}

.signup-form input:focus {
  background-color: white; /* 포커스 시 입력 필드 배경을 하얀색으로 변경하여 자연스러운 강조를 줍니다. */
  border: 2px solid red; /* 포커스 시 테두리 색상 변경 */
}

.signup-form button {
  font-size: 1rem;
  padding: 10px;
  background-color: rgb(255, 100, 100);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px; /* 버튼을 둥글게 만듭니다. */
  font-weight: bold; /* 텍스트를 굵게 만듭니다. */
}

.signup-form button:active {
  background-color: rgb(188, 46, 46);
  transform: scale(0.9);
}

.login-link {
  margin-top: 10px;
  text-align: center;
}

.login-link a {
  color: rgb(255, 100, 100);
  text-decoration: none;
  font-weight: bold; /* 링크 텍스트를 굵게 만듭니다. */
}

.login-link a:active {
  color: darkred;
}

/* 로그인 버튼 스타일 */
.login-btn {
  padding: 10px 15px;
  margin-bottom: 20px;
}

/* chatting */
/* 전체 채팅 컨테이너 스타일 */
#chat-container,
.chatting-list-container {
  /* margin: auto; */
  /* max-width: 80%; */
  max-width: 800px;
  padding: 20px;
  /* background: #943636; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  /* border-radius: 10px; 모서리를 더 둥글게 만듭니다. */
}

/* 채팅 메시지 리스트 스타일 */
#chat-messages,
.chatting-lists {
  height: 80vh; /* 높이를 줄였습니다. */
  overflow-y: auto;
  /* border: 1px solid #ccc; */
  /* margin-bottom: 10px; */
  padding: 10px;
  background: #fff; /* 밝은 배경을 사용합니다. */
  border-radius: 10px; /* 모서리를 더 둥글게 만듭니다. */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 메시지 입력 영역 스타일 */
#message-input {
  width: 75%; /* 너비를 100%로 설정합니다. */
  padding: 10px;
  border: none; /* 테두리를 없앱니다. */
  border-radius: 10px; /* 모서리를 더 둥글게 만듭니다. */
  background: #e7e7e7; /* 밝은 배경을 사용합니다. */
  height: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#message-input:focus {
  outline: none;
  background: #d3d3d3; /* 포커스 시 배경 색상 변경 */
}

/* 전송 버튼 스타일 */
#send-btn {
  width: 19%;
  height: 43px;
  padding: 10px;
  background: rgb(255, 100, 100);
  color: white;
  border: none;
  border-radius: 10px; /* 모서리를 더 둥글게 만듭니다. */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#send-btn:active {
  background: rgb(188, 46, 46);
  transform: scale(0.9);
}

/* 메시지 말풍선 스타일 */
.message-bubble {
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: inline-block;
  max-width: 80%; /* 말풍선 너비를 늘렸습니다. */
  word-wrap: break-word; /* 긴 단어가 말풍선을 벗어나지 않도록 설정 */
}

/* 발신자 메시지 스타일 */
.message-bubble.sent {
  background: #e7f3ff;
  align-self: flex-end;
}

/* 수신자 메시지 스타일 */
.message-bubble.received {
  background: #fff4f4;
  align-self: flex-start;
}

/* 메시지가 추가될 때의 정렬 */
#chat-messages {
  display: flex;
  flex-direction: column;
}

/* 채팅방 목록 */
/* ChattingList */
.chatting-list .chatting-lists,
.seller-chatting-management .chatting-lists {
  height: 85vh;
}

/* 개별 채팅 항목 스타일 */
.chatting-list .list-item,
.seller-chatting-management .list-item {
  padding: 10px; /* 안쪽 여백 추가 */
  border-bottom: 1px solid #ccc; /* 아래쪽 경계선 추가 */
  display: flex; /* 내용을 가로로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  cursor: pointer; /* 커서를 손가락 모양으로 변경 */
  flex-direction: row; /* 세로로 정렬 */
}

.chatting-list .list-item:active,
.seller-chatting-management .list-item:active {
  background-color: #dcdcdc;
  border-radius: 20px; /* 원형 모양 */
}

.chatting-list .list-item-content,
.seller-chatting-management .list-item-content {
  display: flex;
  align-items: center;
}

/* 이미지 스타일 */
.chatting-list .round-image,
.seller-chatting-management .round-image {
  width: 75px; /* 너비 설정 */
  height: 75px; /* 높이 설정 */
  border-radius: 50%; /* 원형 모양 */
  object-fit: cover; /* 이미지 크기 조정 */
  margin-right: 20px; /* 오른쪽 여백 추가 */
  display: flex; /* 내용을 가로로 정렬 */
}

/* 사용자 세부 정보 스타일 */
.chatting-list .user-details,
.seller-chatting-management .user-details {
  margin-left: 20px; /* 왼쪽 여백 추가 */
  flex-grow: 1; /* 남은 공간을 모두 채움 */
}

/* 사용자 이름 스타일 */
.chatting-list h2,
.seller-chatting-management h2 {
  margin: 1px; /* 위아래 여백 제거 */
  font-size: 1.3em; /* 글자 크기를 약간 증가시킵니다 */
}

/* 최신 메시지 스타일 */
.chatting-list p,
.seller-chatting-management p {
  margin: 0; /* 위아래 여백 제거 */
  color: #666; /* 회색 글자 색상 */
  font-size: 0.8em; /* 글자 크기를 약간 증가시킵니다 */
}

.chatting-list .card-separator,
.seller-chatting-management .card-separator {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
