body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gainsboro;
  /* height:100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  */
.home,
.barcode,
.map,
.search,
.user,
.user-edit,
.chatting-list,
.cart-page,
.item,
.store {
  /* margin-bottom: 50px; 하단 네비게이션 바의 높이에 맞게 조절 */
  max-width: 400px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2f2f2;
}

.item-image {
  /* margin-top: 20px; *
  /* border-radius: 20px; */
  height: 100%;
  width: 400px;
  object-fit: cover;
}

.item-image-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.map-store-data,
.barcode-item-data {
  position: fixed;
  bottom: 50px;
  max-width: 400px;
  /* overflow: hidden;
  text-align: center; */
}

.ad-image {
  width: 400px;
  height: 100%;
  object-fit: cover;
}

.ad-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-size: cover;
}

/*UserEdit page*/
.userEdit-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userEdit-image img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.edit-icon {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  top: 55px;
  right: 30px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e8e8e8;
  color: #333;
}

.userEdit-info-container {
  margin: 30px;
  padding: 20px;
  background-color: #e8e8e8;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  font-size: 0.8em; /* 텍스트 크기를 약간 증가시킵니다 */
  font-weight: bold;
  color: #333;
}

.userEdit-info-container input {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 5px;
  margin-right: 10px;
  background-color: #f2f2f2;
}

/* login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(83, 27, 27),
    #01172f
  ); /* 배경 그라데이션 추가 */
  color: white; /* 텍스트 색상을 흰색으로 변경 */
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 수정 */
  padding: 20px;
  border-radius: 20px;
  background-color: #fff; /* 백그라운드 색상을 흰색으로 변경 */
}

.login-form label {
  margin-bottom: 10px;
  color: #3a1919; /* 레이블 텍스트 색상을 레드블랙으로 변경 */
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* 보통 테두리로 돌아갑니다. */
  border-radius: 10px; /* 입력 필드 테두리를 둥글게 만듭니다. */
  background-color: #f5f5f5; /* 배경색을 자연스럽게 회색 톤으로 변경합니다. */
  color: #3a1919; /* 텍스트 색상을 어두운 레드로 유지합니다. */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 약간의 그림자를 추가하여 입체감을 줍니다. */
  transition: background-color 0.2s, border 0.2s; /* 부드러운 전환 효과를 적용합니다. */
}

.login-form input:focus {
  background-color: white; /* 포커스 시 입력 필드 배경을 하얀색으로 변경하여 자연스러운 강조를 줍니다. */
  border: 1px solid red; /* 포커스 시 테두리 색상 변경 */
}

.login-form button {
  font-size: 1rem;
  padding: 10px;
  background-color: rgb(255, 100, 100);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px; /* 버튼을 둥글게 만듭니다. */
  font-weight: bold; /* 텍스트를 굵게 만듭니다. */
}

.login-form button:active {
  background-color: rgb(188, 46, 46);
  transform: scale(0.9);
}

.signup-link {
  margin-top: 10px;
  text-align: center;
}

.signup-link a {
  color: rgb(255, 100, 100);
  text-decoration: none;
  font-weight: bold; /* 링크 텍스트를 굵게 만듭니다. */
}

.signup-link a:active {
  color: darkred;
}

/* Signup.css */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
  background: linear-gradient(
    to bottom,
    rgb(83, 27, 27),
    #01172f
  ); /* 배경 그라데이션 추가 */
  color: white; /* 텍스트 색상을 흰색으로 변경 */
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 수정 */
  padding: 20px;
  border-radius: 20px;
  background-color: #fff; /* 백그라운드 색상을 흰색으로 변경 */
}

.signup-form label {
  color: #3a1919; /* 레이블 텍스트 색상을 레드블랙으로 변경 */
}

.signup-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc; /* 입력 필드 테두리 두꺼운 테두리로 변경 */
  border-radius: 10px; /* 입력 필드 테두리를 둥글게 만듭니다. */
  background-color: #f5f5f5; /* 배경색을 자연스럽게 회색 톤으로 변경합니다. */
  color: #3a1919; /* 텍스트 색상을 어두운 레드로 변경하여 눈에 띄게 만듭니다. */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 약간의 그림자 추가하여 입체감을 줍니다. */
  transition: background-color 0.2s, border 0.2s; /* 부드러운 전환 효과를 적용합니다. */
}

.signup-form .role-selection input:checked + label {
  font-weight: bold; /* 선택된 라디오 버튼의 레이블을 굵게 만듭니다. */
  color: #2d3ec1;
}

.signup-form input:focus {
  background-color: white; /* 포커스 시 입력 필드 배경을 하얀색으로 변경하여 자연스러운 강조를 줍니다. */
  border: 2px solid red; /* 포커스 시 테두리 색상 변경 */
}

.signup-form button {
  font-size: 1rem;
  padding: 10px;
  background-color: rgb(255, 100, 100);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px; /* 버튼을 둥글게 만듭니다. */
  font-weight: bold; /* 텍스트를 굵게 만듭니다. */
}

.signup-form button:active {
  background-color: rgb(188, 46, 46);
  transform: scale(0.9);
}

.login-link {
  margin-top: 10px;
  text-align: center;
}

.login-link a {
  color: rgb(255, 100, 100);
  text-decoration: none;
  font-weight: bold; /* 링크 텍스트를 굵게 만듭니다. */
}

.login-link a:active {
  color: darkred;
}
